.minister-page {
  background-image: url('~/assets/background.png');
  background-size: cover;

  &__body {
    padding: 20;
    padding-top: 30;
    padding-bottom: 50;

    &__text {
      margin-top: 30;

      &__section {
        margin-top: 30;
        margin-bottom: 20;
      }

      &__author {
        margin-top: 10;
        margin-bottom: 20;
      }
    }
  }
}
