<ActionBar [title]="artwork.name" class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="artwork.name"></Label>
</ActionBar>

<StackLayout>
    <StackLayout class="artwork-page">
        <StackLayout orientation="vertical" class="artwork-page__box card">
            <StackLayout orientation="horizontal" class="artwork-page__box__header">
                <Image [src]="artwork.picture" stretch="aspectFill" verticalAlignment="stretch" class="artwork-page__box__header__picture"></Image>
                <StackLayout class="artwork-page__box__header__details">
                    <TitleComponent [text]="artwork.name" type="title-section"></TitleComponent>
                    <TitleComponent [text]="artwork.artist.full_name" type="3"></TitleComponent>
                    <TitleComponent [text]="artwork.place.name" type="3"></TitleComponent>
                </StackLayout>
            </StackLayout>
            <TitleComponent type="3" [text]="artwork.description"></TitleComponent>
        </StackLayout>
        <Button text="Voir sur le plan" tap="onTap" class="button" [nsRouterLink]="['/map']"></Button>
    </StackLayout>
</StackLayout>
.
