<ActionBar title=""
           class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title"
           [text]="getArtworkName()"></Label>
</ActionBar>

<BottomNavigation selectedIndex="0" class="artwork-page">

    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip class="artwork-page__tabs">
        <TabStripItem>
            <Label text="{{ 'artwork.tabs.general' | translate }}"></Label>
            <Image src="font://&#xf2bb;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="{{ 'artwork.tabs.plan' | translate }}"></Label>
            <Image src="font://&#xf5a0;" class="fas t-36"></Image>
        </TabStripItem>
        <!--
        <TabStripItem>
            <Label text="{{ 'artwork.tabs.quizz' | translate }}"></Label>
            <Image src="font://&#xf022;" class="fas t-36"></Image>
        </TabStripItem>
        -->
    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
        <ScrollView>
            <StackLayout>
                <StackLayout class="artwork-page__details" *ngIf="artwork">
                    <StackLayout orientation="vertical" class="artwork-page__details__box card">
                        <StackLayout orientation="horizontal" class="artwork-page__details__box__header">
                            <Image [src]="artwork.picture" stretch="aspectFill" verticalAlignment="stretch" class="artwork-page__details__box__header__picture"></Image>
                            <StackLayout class="artwork-page__details__box__header__details">
                                <TitleComponent [text]="artwork.name" type="title-section"></TitleComponent>
                                <TitleComponent [text]="artwork.artist.full_name" type="3"></TitleComponent>
                                <TitleComponent [text]="artwork.place.name" type="3"></TitleComponent>
                            </StackLayout>
                        </StackLayout>
                        <TitleComponent type="3" [text]="artwork.description"></TitleComponent>
                    </StackLayout>
                    <Button tap="onTap" class="button artwork-page__details__button-map" *ngIf="artwork.latitude && artwork.longitude" [nsRouterLink]="['/map/' + artwork.id]">
                        <FormattedString>
                            <Span text="&#xf5a0;" fontSize="18" class="fas artwork-page__details__button-map__icon"></Span>
                            <Span text=" {{ 'artwork.details.go_to_map' | translate }}" fontSize="18" class="artwork-page__details__button-map__text"></Span>
                        </FormattedString>
                    </Button>

                    <ScrollView orientation="horizontal" class="artwork-page__details__medias">
                        <StackLayout orientation="horizontal">
                            <Image [src]="media.file" stretch="aspectFill" (tap)="selectMedia(media)" verticalAlignment="stretch"  class="artwork-page__details__medias__item" *ngFor="let media of medias"></Image>
                        </StackLayout>
                    </ScrollView>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </TabContentItem>
    <TabContentItem>
        <ScrollView>
            <StackLayout orientation="vertical" class="artwork-page__plan">
                <Image *ngIf="artwork && artwork.plan" [src]="artwork.plan" class="artwork-page__plan__image" stretch="aspectFit"></Image>
                <Label *ngIf="artwork && !artwork.plan" textWrap="true" textalignment="center" fontSize="20" class="artwork-page__plan__text" text="{{ 'artwork.plan.no_plan_available' | translate }}"></Label>
            </StackLayout>
        </ScrollView>
    </TabContentItem>
    <TabContentItem>
        <ScrollView>
            <StackLayout orientation="vertical">
                <FlexboxLayout class="artwork-page__quizz" flexDirection="column" justifyContent="space-around" alignItems="center" *ngIf="assessments.length >= 1 && !emailVerified">
                    <StackLayout class="artwork-page__quizz__header">
                        <TitleComponent type="1" text="{{ 'artwork.quizz.title' | translate }}"></TitleComponent>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="artwork-page__quizz__text">
                        <TitleComponent type="3" text="{{ 'artwork.quizz.promotion' | translate }}" textAlignment="center"></TitleComponent>
                        <TitleComponent type="3" text="{{ 'artwork.quizz.ask_email' | translate }}" textAlignment="center"></TitleComponent>
                    </StackLayout>
                    <TextField hint="{{ 'artwork.quizz.email_hint' | translate }}"
                               [(ngModel)]="email"
                               keyboardType="email"
                               returnKeyType="done"
                               autocorrect="false">
                    </TextField>
                    <StackLayout class="artwork-page__quizz__button">
                        <Button (tap)="onTap()" text="{{ 'artwork.quizz.begin_button' | translate }}" [isEnabled]="isEmailValid()" class="button" [ngClass]="{'button--disabled': !isEmailValid()}"></Button>
                    </StackLayout>
                </FlexboxLayout>

                <ns-list-quizz *ngIf="assessments.length >=1 && emailVerified" [assessments]="this.assessments"></ns-list-quizz>

                <FlexboxLayout class="artwork-page__quizz" flexDirection="column" justifyContent="space-around" alignItems="center" *ngIf="assessments.length < 1">
                    <StackLayout class="artwork-page__quizz__header">
                        <TitleComponent type="1" text="{{ 'artwork.quizz.title' | translate }}"></TitleComponent>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="artwork-page__quizz__text">
                        <TitleComponent type="3" text="{{ 'artwork.quizz.no_quizz_available' | translate }}" textAlignment="center"></TitleComponent>
                    </StackLayout>
                </FlexboxLayout>
            </StackLayout>
        </ScrollView>
    </TabContentItem>
</BottomNavigation>

<AbsoluteLayout class="media-modal" *ngIf="selectedMedia">
    <StackLayout orientation="vertical" class="media-modal__content">
        <ScrollView>
            <StackLayout orientation="vertical">
                <Image [src]="selectedMedia.file"></Image>
                <StackLayout class="media-modal__content__text">
                    <TitleComponent [text]="selectedMedia.detail" type="3"></TitleComponent>
                </StackLayout>
                <Button (tap)="closeMedia()" text="{{ 'artwork.media_modale.close_modale' | translate }}" class="button"></Button>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</AbsoluteLayout>
