.title {
    &--1 {
        color: #ED1C24;
        font-size: 40;
        font-weight: bold;
    }

    &--2 {
        color: #ED1C24;
        font-size: 20;
        font-weight: 700;
    }

    &--3 {
        color: #707070;
        font-size: 20;
    }

    &--title-section {
        color: #707070;
        font-size: 20;
        font-weight: 900;
    }

    &--error {
        padding: 5;
        background-color: #ed5359;
        border-radius: 5;
        color: white;
        font-size: 15;
    }

    &--input-helper {
        font-size: 14;
    }
}
