<ActionBar class="action-bar" title="">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="{{ 'events.title' | translate }}"></Label>
    <ActionItem (tap)="toggleModal()"
                ios.systemIcon="9" ios.position="left"
                android.systemIcon="ic_menu_search" android.position="actionBar"></ActionItem>
</ActionBar>

<GridLayout height="100%" class="events-page" [ngClass]="{'events-page--dialogOpen': this.dialogShown}">
    <ListView [items]="events" *ngIf="events.length > 1">
        <ng-template let-item="item">
            <GridLayout class="events-page__event" [style.background]="'url(' + item.picture + ')'" [nsRouterLink]="['/map/events/event', item.id]" pageTransition="slide">
                <GridLayout columns="*, auto" rows="*, auto, auto" class="events-page__event__description">
                    <Label row="1" col="0" colspan="2" style="font-size: 14" [text]="item.name" textWrap="true" class="events-page__event__description__title"></Label>
                    <Label row="2" col="0" verticalAlignment="bottom" [text]="formatDate(item.date)" class="events-page__event__description__date"></Label>
                    <Label row="2" col="1" verticalAlignment="bottom" [text]="item.place.name" class="events-page__event__description__address"></Label>
                </GridLayout>
            </GridLayout>
        </ng-template>
    </ListView>
    <FlexBoxLayout alignItems="center" justifyContent="center" *ngIf="events.length < 1">
        <TitleComponent text="{{ 'events.no_events_found' | translate }}" textAlignment="center"></TitleComponent>
    </FlexBoxLayout>
</GridLayout>

<AbsoluteLayout class="events-modal" *ngIf="dialogShown">
    <StackLayout class="events-modal__content">
        <TitleComponent text="{{ 'events.search_modal.title' | translate }}"
                        textAlignment="center"
                        type="3"
                        class="events-modal__content__title"></TitleComponent>

        <StackLayout class="events-modal__content__text">
            <TitleComponent text="{{ 'events.search_modal.explanation' | translate }}"
                            textAlignment="center"
                            type="4"></TitleComponent>
        </StackLayout>

        <StackLayout class="events-modal__content__select">
            <Label row="10" col="1" colSpan="5" text="{{ 'events.search_modal.input_type_event' | translate }}" class="title-label"></Label>
            <Label [text]="typeOfEvent" editable="false" class="input-select" (tap)="onTypeEventTap()"></Label>
        </StackLayout>

        <StackLayout class="events-modal__content__button">
            <Button text="{{ 'events.search_modal.button_filter' | translate }}" (tap)="refreshEvents()" class="button"></Button>
        </StackLayout>
    </StackLayout>
</AbsoluteLayout>
