<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Contact"></Label>
</ActionBar>

<ScrollView>
    <StackLayout class="contact-page">
        <TitleComponent text="Une question, un avis, une remarque ?"
                        textAlignment="center"
                        type="3"
                        class="contact-page__title"></TitleComponent>

        <TitleComponent text="N'hésitez pas a nous écrire, nous nous ferons un plaisir de vous répondre."
                        textAlignment="center"
                        type="3"
                        class="contact-page__title"></TitleComponent>

        <StackLayout orientation="vertical" class="contact-page__box card" shadow [elevation]="boxElevation">
            <TitleComponent text="Formulaire de contact" type="title-section" textAlignment="center"></TitleComponent>
            <TextField hint="Courriel"
                       text=''
                       secure="false"
                       returnKeyType="done"
                       autocorrect="false"
                       maxLength="100"
                       focus="onFocus"
                       blur="onBlur" class="input"></TextField>
            <TitleComponent text="Cette adresse courriel sera utilise par notre équipe pour vous répondre"
                            type="input-helper"></TitleComponent>
            <TextView height="300" hint="Votre message" class="input input--textarea"></TextView>

            <Button text="Envoyer" tap="onTap" class="button"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
