<ActionBar class="action-bar" title="">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="{{ 'contact.title' | translate }}"></Label>
</ActionBar>

<ScrollView>
    <StackLayout class="contact-page">
        <StackLayout *ngIf="!success">
            <TitleComponent text="{{ 'contact.promotion_1' | translate }}"
                            textAlignment="center"
                            type="3"
                            class="contact-page__title"></TitleComponent>

            <TitleComponent text="{{ 'contact.promotion_2' | translate }}"
                            textAlignment="center"
                            type="3"
                            class="contact-page__title"></TitleComponent>

            <StackLayout orientation="vertical" class="contact-page__box card">
                <TitleComponent text="{{ 'contact.box_title' | translate }}" type="title-section" textAlignment="center"></TitleComponent>
                <TextField hint="{{ 'contact.email_hint' | translate }}"
                           [(ngModel)]="email"
                           keyboardType="email"
                           returnKeyType="done"
                           autocorrect="false"
                           maxLength="100"
                           focus="onFocus"
                           blur="onBlur" class="input"></TextField>
                <TitleComponent text="{{ 'contact.email_explanation' | translate }}"
                                type="input-helper"></TitleComponent>
                <TextView height="300"
                          [(ngModel)]="message"
                          hint="{{ 'contact.content_hint' | translate }}"
                          class="input input--textarea"></TextView>

                <StackLayout orientation="vertical" class="contact_page__box__error">
                    <TitleComponent *ngIf="error"
                                    [text]="error"
                                    type="error"></TitleComponent>
                </StackLayout>
                <Button text="{{ 'contact.button_send' | translate }}" (tap)="send()" class="button"></Button>
            </StackLayout>
        </StackLayout>
        <StackLayout orientation="vertical" class="contact-page__success" *ngIf="success">
            <Label text="&#xf058;" textalignment="center" fontSize="40" class="fas contact-page__success__icon"></Label>
            <TitleComponent text="{{ 'contact.confirmation_sent' | translate }}" type="3" textAlignment="center"></TitleComponent>
            <StackLayout orientation="vertical" class="contact-page__success__button">
                <Button text="{{ 'contact.go_back_to_home' | translate }}" nsRouterLink="/"></Button>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
