<ActionBar class="action-bar" title="">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu"
                android:visibility="collapsed"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title"
           text="Redirect"></Label>
    <ActionItem
                ios.systemIcon="9"
                ios.position="left"
                color="white"
                android.systemIcon="ic_menu_search"
                android.position="actionBar"></ActionItem>
</ActionBar>

<GridLayout height="100%" [backgroundColor]="'blue'">


</GridLayout>
