.artworks-page {
  &__artwork {
    margin-bottom: 2;
    height: 200;
    background-size: cover;
    background-position: center;

    &__description {
      background-color: rgba(#8A5642, 0.4);
      vertical-align: bottom;
      padding: 5;

      &__title {
        font-size: 20;
        color: white;
      }

      &__author {
        font-size: 16;
        color: white;
      }

      &__address {
        font-size: 12;
        color: white;
      }
    }
  }
}
