.artworks-page {

  background-image: url('~/assets/background.png');

  &--dialogOpen {
    opacity: 0.5;
  }

  &__artwork {
    margin-bottom: 2;
    height: 200;

    &__description {
      vertical-align: bottom;

      &__title {
        font-size: 20;
        color: white;
        height: 30;
        background-color: rgba(black, 0.7);
        padding-left: 5;
      }

      &__author {
        font-size: 16;
        color: white;
        height: 20;
        background-color: rgba(black, 0.7);
        padding-left: 5;
      }

      &__address {
        font-size: 14;
        height: 20;
        color: white;
        background-color: rgba(black, 0.7);
        padding-right: 5;
      }
    }
  }
}

.artworks-modal {
  animation-name: show;
  animation-duration: 400ms;
  animation-fill-mode: forwards;

  &__content {
    border-top-width: 1;
    border-bottom-width: 1;
    border-color: #222222;
    background-color: white;
    width: 100%;
    padding: 20;
    margin-top: 100;

    &__text {
      margin-top: 20;
    }

    &__select {
      margin-top: 30;
    }

    &__button {
      margin-top: 30;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
