.partners-page {
  background-image: url('~/assets/background.png');
  background-size: cover;

  &__body {
    padding: 20;
    padding-top: 50;

    &__section {
      padding-top: 50;

      &__list {

        &__item {
          margin-top: 20;
        }
      }
    }
  }
}
