<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <FlexLayout height="100" class="sidedrawer-header">
            <Image width="50%" src="~/assets/logo.png" class="sidedrawer-header__logo"></Image>
        </FlexLayout>

        <ScrollView row="1" class="sidedrawer-content">
            <GridLayout rows="auto, *, auto" height="100%" verticalAlignment="bottom">
                <StackLayout orientation="vertical" row="0">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item sidedrawer-list-item--first" [class.selected]="isComponentSelected('/map')" (tap)="onNavItemTap('/map')">
                        <Label col="0" text="&#xf5a0;" class="fas"></Label>
                        <Label col="1" text=" {{ 'nav.map' | translate }}" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/map/artworks')" (tap)="onNavItemTap('/map/artworks')">
                        <Label col="0" text="&#xf53f;" class="fas"></Label>
                        <Label col="1" text=" {{ 'nav.artworks' | translate }}" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/events')" (tap)="onNavItemTap('/events')">
                        <Label col="0" text="&#xf0a1;" class="fas"></Label>
                        <Label col="1" text=" {{ 'nav.events' | translate }}" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/partners')" (tap)="onNavItemTap('/partners')">
                        <Label col="0" text="&#xf004;" class="fas"></Label>
                        <Label col="1" text=" {{ 'nav.partners' | translate }}" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/minister')" (tap)="onNavItemTap('/minister')">
                        <Label col="0" text="&#xf4ad;" class="fas"></Label>
                        <Label col="1" text=" {{ 'nav.minister' | translate }}" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/contact')" (tap)="onNavItemTap('/contact')">
                        <Label col="0" text="&#xf1d8;" class="fas"></Label>
                        <Label col="1" text=" {{ 'nav.contact' | translate }}" class="p-r-10"></Label>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="1"></StackLayout>
                <StackLayout orientation="vertical" row="2">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item sidedrawer-list-item--last" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                        <Label col="1" text="{{ 'nav.settings' | translate }}" class="p-r-10"></Label>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
