<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <FlexLayout height="100" class="sidedrawer-header">
            <Image width="50%" src="~/assets/logo.png" class="sidedrawer-header__logo"></Image>
        </FlexLayout>

        <ScrollView row="1" class="sidedrawer-content">
            <GridLayout rows="auto, *, auto" height="100%" verticalAlignment="bottom">
                <StackLayout orientation="vertical" row="0">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item sidedrawer-list-item--first" [class.selected]="isComponentSelected('/map')" (tap)="onNavItemTap('/map')">
                        <Label col="1" text="Plan des sous-terrains" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/artworks')" (tap)="onNavItemTap('/artworks')">
                        <Label col="1" text="Galerie" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/events')" (tap)="onNavItemTap('/events')">
                        <Label col="1" text="Evenement" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/partners')" (tap)="onNavItemTap('/partners')">
                        <Label col="1" text="Partenaires" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/minister')" (tap)="onNavItemTap('/minister')">
                        <Label col="1" text="Mot des ministres" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/contact')" (tap)="onNavItemTap('/contact')">
                        <Label col="1" text="Contact" class="p-r-10"></Label>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="1"></StackLayout>
                <StackLayout orientation="vertical" row="2">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item sidedrawer-list-item--last" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                        <Label col="1" text="Preferences" class="p-r-10"></Label>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>
