<ActionBar class="action-bar" title="">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" [text]="getEventName()"></Label>
</ActionBar>

<ScrollView>
    <StackLayout>
        <StackLayout class="event-page" *ngIf="event">
            <StackLayout orientation="vertical" class="event-page__box card">
                <StackLayout orientation="horizontal" class="event-page__box__header">
                    <Image [src]="'~/assets/data/' + event.picture" stretch="aspectFill" verticalAlignment="stretch" class="event-page__box__header__picture"></Image>
                    <StackLayout class="event-page__box__header__details">
                        <TitleComponent [text]="event.name" type="title-section"></TitleComponent>
                        <TitleComponent [text]="event.place.name" type="3" class="event-page__box__header__details__place"></TitleComponent>
                        <TitleComponent [text]="event.date | date" type="3" class="event-page__box__header__details__date"></TitleComponent>
                    </StackLayout>
                </StackLayout>
                <TitleComponent type="3" [text]="event.description"></TitleComponent>
            </StackLayout>
            <Button text="{{ 'event.subscribe_to_event' | translate }}" (tap)="redirectToSubscribe()" class="button"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
